<!doctype html>
<html>
    <head>
        <title>Hoster</title>
    </head>

    <body>
  <header>
   {{>header_partial parameter=page}}
  </header>        
  <main>
        {{{body}}}
  </main>
</body>
</html>