<!-- 
  WEB322 Assignment 1
  Name: Omar Khan
  Student Number: 132197203
  Email: okhan27@myseneca.ca
  Section NCC
  Date: 10/6/2021
  All the work in the project is my own except for stock photos, icons, and bootstrap files included
 -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hoster | Login</title>
  <link rel="shortcut icon" type="image/jpg" href="/assets/favicon.ico" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./bootstrap-5.0.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./styles/custom.css">

</head>


<body class="gradient">
    <div class="container bottom-buffer">
    <div class="container holder top-buffer reg">
      <h3 class="well bottom-buffer top-padding">Sign in to your Hoster account</h3>
      <div class="col-lg-12 well">
        <div class="row">
          <form action="/validateLoginInputs" method="Post">
            <div class="col-sm-12">

              <div class="row">
                <div class="col-lg-12 form-group">
                  <label for="uname">Username</label>
                  <input id="uname" name="uname" type="text" placeholder="Username" class="form-control">
                  {{#if data.uError}}
                  <p class="error">{{data.uError}}</p>
                  {{/if}}
                </div>
              </div>
              <div class="row top-buffer">
                <div class="col-lg-12 form-group ">
                  <label for="password">Password</label>
                  <input id="password" name="password" type="password" placeholder="Password" class="form-control">
                  {{#if data.pError}}
                  <p class="error">{{data.pError}}</p>
                  {{/if}}
                </div>
              </div>
              <div class="remember-me top-buffer"> <input type="checkbox" id="remember-me" value="1" name="remember-me">
                <label for="remember-me">Remember me</label>
              </div>
              <input type="submit" class="btn btn-lg btn-info top-buffer bottom-buffer" value="Submit" />
            </div>
          </form>
          <div class="spec-flex">
            <p>New to Hoster?</p>
            <form action="/registration">
              <button type="submit" class="btn btn-sm btn-info" value="Sign Up">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./bootstrap-5.0.1-dist/js/bootstrap.bundle.js"></script>
</body>

</html>